@import "./fond";
@import "./colors";

.navbar-utama {
  padding-top: 40px;
  .navbar-nav {
    li {
      padding-left: 40px;
      font-size: 18px;
      .active {
        font-weight: map-get($font-weights, semibold) !important;
      }
    }
  }
}

.sales {
  .header {
    margin-top: 100px;
    font-weight: map-get($font-weights, semibold) !important;
    font-size: 48px;
  }
  .description {
    margin-top: 16px;
    color: $abu !important;
  }

  .brand {
    margin-top: 70px;
    .brand-logos {
      width: 724px;
    }
  }
  .copywriting {
    margin-top: 10px;
  }
  .iklan {
    margin-top: 43px;
    .p-2 {
      margin-right: 41px;
    }
  }
  .cari {
    width: 438px;
    .info {
      background: $abumuda !important;
    }
  }
  .btn {
    margin-top: 20px;
    width: 170px;
    height: 40px;
    background: $orange;
    border: 0px;
  }
  .judul {
    margin-top: 38px;
  }
}

.destinasi {
  margin-top: 38px;
  .judul {
    font-size: 38px;
  }
  .desktipsi {
    margin-top: 16px;
  }
  .tujuan {
    margin-top: 63px;
    margin-left: 10px;
  }
  h5 {
    margin-top: 20px;
  }
  p {
    margin-top: 6px;
  }
}

.party {
  .bg {
    width: 1087px;
    height: 476px;
    margin-top: 107px;
    margin-left: -10px;
    background: $abumuda;
    border-top-right-radius: 40px;
    .konten {
      padding-top: 90px;
      margin-left: 310px;
      .jarak {
        padding-left: 90px;
      }
      .jarak2 {
        @extend .jarak;
        padding-left: 170px;
      }
      .jarak3 {
        padding-left: 250px;
      }
    }
  }
}
@media (max-width: 576px) {
  .sales {
    .header {
      margin-top: 100px;
      font-weight: map-get($font-weights, semibold) !important;
      font-size: 48px;
    }
    .description {
      margin-top: 16px;
      color: $abu !important;
    }
    .gambar {
      height: 450px;
    }
    .copywriting {
      margin-top: 10px;
    }
    .iklan {
      margin-top: 43px;
      .p-2 {
        margin-right: 41px;
      }
    }
    .cari {
      width: 438px;
      .info {
        background: $abumuda !important;
      }
    }
    .btn {
      margin-top: 20px;
      width: 170px;
      height: 40px;
      background: $orange;
      border: 0px;
    }
    .judul {
      margin-top: 38px;
      width: 400px;
    }
  }

  .party {
    .bg {
      width: 187px;
      height: 76px;
      margin-top: 70px;

      background: $abumuda;
      border-top-right-radius: 40px;
      .konten {
        padding-top: 90px;
        margin-left: 10px;
        .jarak {
          padding-left: 90px;
        }
        .jarak2 {
          padding-left: 170px;
        }
        .jarak3 {
          padding-left: 250px;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
